<div class="item">

  <span class="{{type}}">{{type}}</span>{{#if date}} {{date}}{{/if}}

  {{#if image}}
    <figure>
      <div style="padding-bottom: calc({{image.height}} / {{image.width}} * 100%);">
        <img
          class="{{imageClass}}"
          src="{{imageSrc}}"
          alt="{{image.caption}}"
          />
      </div>
      {{#if image.caption}}<figcaption>{{image.caption}}</figcaption>{{/if}}
    </figure>
  {{/if}}

  <h3>
    <a href="{{url}}">{{title}}</a>
  </h3>

  <p>{{yield}}</p>

  <p class="link">
    <a href="{{url}}">{{ctaText}}</a>
  </p>
</div>

<style>
div.item {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  margin: 1rem 1rem 3rem;
  padding: 2rem;
  background-color: #FFF;
  border-radius: 3px;
}

span {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: bold;
  font-size: 1.1rem;
  color: #FFF;
  background: #3a3a3a;
  padding: 0.3rem 0.5rem;
  border-radius: 3px;
  margin: 0 0 0.4rem;
  display: inline-block;
}

span.post {
  background: #3E9FA9;
}
span.project {
  background: #5BC7A7;
}

figure {
  margin: 0.4rem 0 1rem;
}

figure figcaption {
  font-size: 1rem;
}

figure > div {
  position: relative;
  margin-bottom: 0.3rem;
}

img {
  display: block;
  width: 100%;
  margin: 0 auto;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

/*figure > div:after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: 
    linear-gradient(purple 0%, red 90%), 
    linear-gradient(to right, purple 0%, yellow 90%);
  background-blend-mode: screen, difference, lighten;
}*/

img.image--visible {
  animation: fadeIn 0.2s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h3 {
  font-size: 2.2rem;
  margin: 0;
  line-height: 1.6em;
}

h3 a {
  text-decoration: none;
  color: #000;
}

p {
  margin-top: 0;
  line-height: 1.4em;
}

p:last-of-type {
  margin-bottom: 0;
}

p.link {
  margin: 0;
  display: block;
}

p.link a:focus:after {
  content: ' →';
}
</style>

<script>
const ctaTexts = {
  post: 'Read more',
  project: 'See more'
};

export default {
  data: () => ({
    imageSrc: ''
  }),
  oncreate() {
    const image = this.get('image');
    if(image) {
      const i = new Image();
      i.onload = () => {
        this.set({ imageSrc: image.url });
      }
      i.src = image.url;
    }
  },
  computed: {
    imageClass: imageSrc => imageSrc === '' ? '' : 'image--visible',
    ctaText: type => ctaTexts[type] || 'See more'
  },
};
</script>