<!-- App.html -->
<div class="app">
  <Header />
  
  <Body items="{{items}}" />

  <Footer />
</div>

<style>
@media screen and (min-width: 768px) {
  div.app {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 110rem;
    margin: 0 auto;
  }
}
</style>

<script>
import Header from '../Header/index.html';
import Body from '../Body/index.html';
import Footer from '../Footer/index.html';

export default {
  components: {
    Header,
    Body,
    Footer
  },
}
</script>